<div class="item story" id="story-<%=id%>">
    <h2><%= title %></h2>
    <div class="body">
        <% if (content.length > 160) { %>
            <%- content.slice(0,160) %>...
        <% } else { %>
            <%- content %>
        <% } %>
        <span class="readMore">
            <a class="readMore" href="#read/story/<%= id %>">+ read more</a>
        </span>
    </div>
    <h3><%= (new Date(updated_at)).toDateString() %><br>
        by <a href="#read/author/<%-author_user.id%>"><%- author_user.first_name %> <%- author_user.last_name %></a>
        </h3>
</div>