<div class="item story" id="story-<%=data.id%>">
    <div class="body">
        <% if (data.content.length > 160) { %>
            <%- data.content.slice(0,160) %>...
        <% } else { %>
            <%- data.content %>
        <% } %>
        <span class="readMore">
            <a class="readMore" href="#read/story/<%= data.id %>">+ read more</a>
        </span>
    </div>
    <h3><%= (new Date(data.updated_at)).toDateString() %><br>
        by <% if (data.author && data.author.user) { %>
            <a href="#read/author/<%-data.author.user.id%>"><%- data.author.user.first_name %> <%- data.author.user.last_name %></a>
        <% } else { %>
            Anonymous
        <% } %>
        </h3>
</div>