<div class="storyRead">
    <h2><% data.title %></h2>

    <div class="body">
        <%- data.content %>
    </div>
    <h3><%= (new Date(updated_at)).toDateString() %><br>
        by <a href="#read/author/<%-data.author_user.id%>"><%- data.author_user.first_name %> <%- data.author_user.last_name %></a>
        </h3>
    <a href="#read?story=<%-id%>">&larr; Back</a>
</div>