<div class="storyRead">
    <h1><% if (data.author && data.author.anonymous !== true) { %>
            <!-- <a href="#read/author/<%-data.author.user.id%>"><%- data.author.user.first_name %> <%- data.author.user.last_name %></a> -->
            <%- data.author.user.first_name %> <%- data.author.user.last_name %>
        <% } else { %>
            Anonymous
        <% } %>
        <% if (data.author && data.author.occupation) { %>  <%- data.author.occupation %> <% } %>
        <% if (data.author && data.author.employer) { %> at <%- data.author.employer %> <% } %>
        <% if (data.location && data.location.city && data.location.state) { %>
            in <%- data.location.city %>, <%- data.location.state %>
        <% } %>
    </h1>
    <h2><%= (new Date(data.created_at)).toDateString() %></h2>

    <div class="body">
        <%- data.content %>
    </div>
    
    <% if (data.posted == undefined) { %><a href="#back" onclick="history.go(-1);return false;" >&larr; Back</a><% } %>
</div>